.carousel-container {
  height: 100%;
  margin: 0;
  width: 100%;
  position: relative;
  background-color: #efefef;
}

.slide-btn {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 0;
}
.slide-btn:focus {
  outline: none;
}
.slide-btn:hover {
  background-color: #ddd;
}
.slide-btn img {
  width: 20px;
}

.slide-btn.btn-next {
  right: 15px;
}

.slide-btn.btn-prev {
  left: 15px;
}
.custom-file-input {
  color: transparent;
  margin-top: 35px;
}
.custom-file-input:focus {
  outline: none;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Upload Images";
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
